# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df = pd.read_csv("output_data/city_data.csv")
city_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,hobart,-42.8794,147.3294,53.46,60,10,9.22,AU,1638724200
1,hokitika,-42.7167,170.9667,54.63,89,97,7.02,NZ,1638724201
2,albany,42.6001,-73.9662,42.46,56,100,1.01,US,1638724202
3,kalangala,-0.3089,32.2250,74.61,66,97,7.36,UG,1638724203
4,plettenberg bay,-34.0527,23.3716,65.93,90,61,2.17,ZA,1638724204

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]
max_humid = humidity.max()

In [4]:
figure_layout = {
    'width': '500px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}
fig = gmaps.figure(layout=figure_layout)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=max_humid,point_radius=6)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Dataframe with temperatures above 70 & below 80 & wind speed below 10mph
nicehols_df = city_df.loc[(city_df["Max Temp"] > 70)
                          & (city_df["Max Temp"] < 80)
                          & (city_df["Wind Speed"] < 10)]

nicehols_df = nicehols_df.dropna(how='any')
nicehols_df.reset_index(inplace=True)
del nicehols_df['index']
nicehols_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,kalangala,-0.3089,32.2250,74.61,66,97,7.36,UG,1638724203
1,rikitea,-23.1203,-134.9692,75.38,75,71,7.78,PF,1638724209
2,houma,29.5958,-90.7195,77.00,82,40,3.44,US,1638724210
3,vaini,-21.2000,-175.2000,73.56,100,75,8.05,TO,1638724211
4,east london,-33.0153,27.9116,70.74,100,40,6.91,ZA,1638724066

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = nicehols_df

# Track number of hotels logged so no more than 10 markers are on the final map
hotelcount = 0

params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

for index, row in hotel_df.iterrows():
    if hotelcount == 10:
        break
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # API request
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        hotelcount = hotelcount + 1
        
    except (KeyError, IndexError):
        hotel_df.loc[index, 'Hotel Name'] = None

In [7]:
marker_df = hotel_df.dropna()
marker_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,kalangala,-0.3089,32.2250,74.61,66,97,7.36,UG,1638724203,Ssese Habitat Resort
1,rikitea,-23.1203,-134.9692,75.38,75,71,7.78,PF,1638724209,People ThankYou
2,houma,29.5958,-90.7195,77.00,82,40,3.44,US,1638724210,Courtyard by Marriott Houma
3,vaini,-21.2000,-175.2000,73.56,100,75,8.05,TO,1638724211,Keleti Beach Resort
4,east london,-33.0153,27.9116,70.74,100,40,6.91,ZA,1638724066,Tu Casa
5,namatanai,-3.6667,152.4333,77.68,88,100,6.76,PG,1638724212,Seagulls Inn Namatani
6,avarua,-21.2078,-159.7750,78.85,89,75,5.75,CK,1638724214,Paradise Inn
7,payo,-3.7508,103.6372,72.01,97,99,2.24,ID,1638724215,Mess keban agung
8,padang,-0.9492,100.3543,76.66,88,99,4.56,ID,1638724217,Mercure Padang
10,general pico,-35.6566,-63.7568,76.93,42,18,4.38,AR,1638724218,Euskadi Hotel

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in marker_df.iterrows()]
locations = marker_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
# Display figure

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦